ECEUWin/Web References/wsECEU/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Intercambio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FECHA_DE_LA_CITA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SERVICIO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PRESCRIPCION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOMICILIO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OCUPACION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SEGURIDAD_SOCIAL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GENERO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EDAD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntercambioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntercambioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IntercambioSoapIn">
    <wsdl:part name="parameters" element="tns:Intercambio" />
  </wsdl:message>
  <wsdl:message name="IntercambioSoapOut">
    <wsdl:part name="parameters" element="tns:IntercambioResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Intercambio">
      <wsdl:input message="tns:IntercambioSoapIn" />
      <wsdl:output message="tns:IntercambioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Intercambio">
      <soap:operation soapAction="http://tempuri.org/Intercambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Intercambio">
      <soap12:operation soapAction="http://tempuri.org/Intercambio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:50553/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:50553/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>